body {
  /* height: 26000px; */
  font-family: 'Raleway', sans-serif;
}

div {
  position: fixed;
  width: 100%;
  min-height: 50%;
  text-align: center;
  top: 50%;
  opacity: 0;
  font-size: 30px;
}
img {
  /* margin-top: -200px;   */
}
svg {
  /* max-height: 100%;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
  margin: -250px auto 0;
  overflow: auto; */
}
@media only screen and (min-height: 500px) {
  svg {
    top: 50%;
    min-height: none;
  }
  .ole { 
    top: 80%;
  }

}